<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= current_page.data.title || "Justin's Blog" %></title>
    <link href='http://fonts.googleapis.com/css?family=Telex|Fauna+One&amp;subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <script>
        function addy(a, b) { return a + '@' + b; }
        function std_addy() { return addy('jnbangerter','gmail.com'); }
        function mailto(url, txt) { return '<a href="mailto:' + url + '">' + txt + '</a>' };
        function contact() { return mailto(std_addy(), std_addy()); }
    </script>
    <%= stylesheet_link_tag "normalize" %>
    <%= stylesheet_link_tag "sunburst" %>
    <%= stylesheet_link_tag "site" %>
    <%= javascript_include_tag "site" %>
  </head>
  <body>
    <!-- some body element styles can be problematic for old browsers -->
    <div class="main">
    <h1 class="main-header">
        <i class="frac"></i>
        <a href="/">Justin's Blog</a>
    </h1>
    <ul class="nav">
      <li class="nav-blog"><a href="/"><i class="glyph-home"></i><div>Blog</div></a></li>
      <li><a href="/software"><i class="glyph-cogwheels"></i><div>Software</div></a></li>
      <li><a href="/tutoring"><i class="glyph-projector"></i><div>Tutoring</div></a></li>
      <script>
        document.write([
            '<li>',
            mailto(
                std_addy(),
                '<i class="glyph-message_new"></i><div>E-Mail</div>'
            ),
            '</li>'
        ].join(''));
      </script>
    </ul>
    <%= yield %>
        <div style="margin-top:10em;">
        <a href='http://creativecommons.org/licenses/by/3.0/' rel='license'>
        <img alt='Creative Commons License' src='http://i.creativecommons.org/l/by/3.0/80x15.png' style='border-width:0'>
        </a>
        <a href='http://glyphicons.com'>Special thanks to glyphicons</a>
        </div>
    </div>
    <script src='/javascripts/mathjax/MathJax.js?config=TeX-AMS_HTML.js'></script>
    <script>
        MathJax.Hub.Config({
        tex2jax: {
            inlineMath: [['i$','i$'], ['\\(','\\)']],
            processEscapes: true
        }
        });
        var pre_tags = document.getElementsByTagName("pre")
        for(var i in pre_tags){
        pre_tags[i].className += ' prettyprint'
        }
        (function(d, t) {
        function x(y) { return document.location.href.indexOf(y) > -1; }
        if( !x('localhost') && !x('127.0.0.1') ) return;
        var g = d.createElement(t),
            s = d.getElementsByTagName(t)[0];
            g.src = '/js/dev/live.js';
        s.parentNode.insertBefore(g, s);
        }(document, 'script'));
    </script>
    <script src='/javascripts/prettify/run_prettify.js'></script>
  </body>
</html>
