---
title: Justin's Blog
---
<ul class="post-list">
  <li><%= link_to_post 'Math and Making Mistakes'%></li>
  <li><%= link_to_post 'Live.js and Middleman'%></li>
  <li><%= link_to_post 'My Average Salary'%></li>
  <li><%= link_to_post 'List Out of Lambda'%></li>
  <li><%= link_to_post 'Alternate JS'%></li>
  <li><%= link_to_post 'First Time Skiing'%></li>
  <li><%= link_to_post 'Web Security and Diaspora'%></li>
  <li><%= link_to_post 'SWTBot: Conditions'%></li>
  <li><%= link_to_post 'Graph Theory Tutorial'%></li>
  <li><%= link_to_post 'Mathjax'%></li>
  <li><%= link_to_post 'Vectors'%></li>
  <li><%= link_to_post 'Imaginary Numbers'%></li>
  <li><%= link_to_post 'Commutative Property'%></li>
  <li><%= link_to_post 'Basis Vectors'%></li>
  <li><%= link_to_post 'State and Change'%></li>
  <li><%= link_to_post 'Theory of Least Action'%></li>
</ul>
